/* Dropdown Button */
.dropbtn {
    background-color: rgba(255,255,255,.5);
    border: white solid 1pt;
    width: 100%;
    color: grey;
    padding: 16px;
    font-size: 18pt;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255,255,255,.8);
  }
  
  /* The search field */
  #myInput {
    width: 100%;
    /* border-box: box-sizing; */
    /* background-image: url('searchicon.png'); */
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 20px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {
      outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown1 {
    position: relative;
    top: -750px;
    margin-left: 35%;
    display: inline-block;
    width: 30%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 20;
  }
  
  /* Links inside the dropdown */
  .dropdown1-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown1-content p:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}