.navbar-brand {
    /* font-family: 'Raleway Dots', cursive; */
    font-family: 'Martel', serif;
}

#navbarDropdown {
    display: none;
}

#myDropdown {
    background-color: rgba(255,255,255,.8);
    width: 200px;
    max-height: 500px;
    overflow: scroll;
}

.list {
    padding: 10px;
}

.list:hover {
    border-bottom: grey dotted 1pt;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.display-logo {
    position: relative;
    top: -750px;
    text-align: center;
}

h1 {
    font-size: 100pt;
    font-weight: normal;
    font-family: 'Martel', serif;
    color: white;
    /* font-family: 'Ruda', sans-serif; */
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Raleway Dots', cursive; */
}

h2 {
    font-size: 24pt;
    font-weight: normal;
}

i {
    margin-left: 20px;
}

#main-img-container {
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
    z-index: 1;
}

#h1-park{
    font-size: 72pt;
    font-weight: normal;
    font-family: 'Martel', serif;
    position: absolute;
    top: 250px;
    z-index: 2;
    color: white
}

#itinerary-add-btn {

}

.main-img {
    position: relative;
    width: 100%;
}

.container {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

#info {
    position: absolute;
    height: auto;
    top: 775px;
}

#all-trails {
    position: relative;
    top: 1500px;
    height: 200px;
    overflow: scroll;
}

#weather-info {
    position: absolute;
}

#itinerary {
    position: absolute;
    top: 1500px;
    width: 100%;
}



#trail-img {
    float: left;
}
#weatherDiv{
    float: left;
    margin: 15px;
    padding: 15px;
}


/* itinerary */

h3 {
    display: inline;
    margin-left: 30px;
}
#itinerary-add-btn {
    margin: 20px 0px;
}

#itinerary-container {
    background-color: rgba(30, 39, 22, .2);
    width: 100%;
    margin-bottom: 100px;
}
.itinerary-view-head .itinerary-view {
    background-color: rgba(30, 39, 22, .8);
    font-weight: bold;
    color: white;
}
#itinerary-data-head {
    background-color: rgba(30, 39, 22, .6);
    padding-left: 10px 0px 0px 10px;
    color: white;
}
.itinerary-data-row {
    height: 50px;
    background-color: rgba(30, 39, 22, .4);
    color: black;
    font-weight: bold;
    padding-top: 10px;
    opacity: .8;
    vertical-align: middle;
}
.itinerary-data-row:hover {
    opacity: 1;
}
.itinerary-remove {
    color: red;
    cursor: pointer;
    opacity: 0.6;
}
.itinerary-remove:hover {
    opacity: 1.0;
}