
.container {
    width: 75%;
}

.navbar-brand {
    /* font-family: 'Raleway Dots', cursive; */
    font-family: 'Martel', serif;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.display-logo {
    position: relative;
    top: -450px;
}

#navbarDropdown {
    display: none;
}

#myDropdown {
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 20;
}

h1 {
    font-size: 100pt;
    font-weight: normal;
    font-family: 'Martel', serif;
    /* font-family: 'Ruda', sans-serif; */
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Raleway Dots', cursive; */
}

h2 {
    font-size: 24pt;
    font-weight: normal;
}

i {
    margin-left: 20px;
}

#trail-img {
    float: left;
}
#weatherDiv{
    float: left;
    margin: 15px;
    padding: 15px;
}
